---

---

<nav
  class="w-full mb-6 bg-slate-700 shadow-md rounded-lg p-4 flex items-center justify-between mt-5"
>
  <a href="/" class="transition-transform hover:scale-110">
    <img src="/pokeball.svg" alt="Home" class="w-8 h-8" />
  </a>

  <div class="space-x-4">
    <a
      href="/pokemons/1"
      class="text-blue-300 hover:text-blue-500 font-medium transition-colors"
    >
      Pokédex
    </a>
    <a
      href="/about"
      class="text-blue-300 hover:text-blue-500 font-medium transition-colors"
    >
      Sobre el proyecto
    </a>
    <a
      href="/contact"
      class="text-blue-300 hover:text-blue-500 font-medium transition-colors"
    >
      Contacto
    </a>
  </div>
</nav>
