---
import MainLayout from "../layouts/MainLayout.astro";
const name = "Sergio Izquierdo";
---

<MainLayout title="Home Page">
	<h1>Primer proyecto con Astro (2025)</h1>
	 <h2>Explorando fundamentos de componentes, layouts y rutas. Por {name}</h2>

	<p>Momento actual: {new Date().toLocaleTimeString()}</p>
	<p id="current-time">Momento actual real:</p>

	<script>
		const currentTimeParagraph = document.querySelector(
			"#current-time",
		) as HTMLParagraphElement;

		currentTimeParagraph.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
	</script>
</MainLayout>
