---
import "@styles/global.css";
import MainLayout from "@layouts/MainLayout.astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response";
import PokemonCard from "@components/pokemons/PokemonCard.astro";

const title = "Pokemon Static | Home";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=3");
const { results } = (await resp.json()) as PokemonListResponse;
---

<MainLayout title={title}>
	<section class="mt-8 bg-slate-700 p-6 rounded-lg shadow-md">
		<h2 class="text-2xl font-semibold mb-4 text-blue-300">
			Qué puedes hacer aquí
		</h2>
		<ul class="list-disc list-inside space-y-2">
			<li>Examinar 151 pokémons.</li>
			<li>Ver su tipo, habilidades y estadísticas básicas.</li>
			<li>Explorar la Pokédex de forma visual y rápida.</li>
		</ul>
	</section>
	<section class="mt-8">
		<h2 class="text-2xl font-semibold mb-4 text-blue-300">
			Algunos Pokémon (Para ver todos, ve a la sección de Pokémons)
		</h2>
		<div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-3 gap-4">
			{
				results.map((pokemon) => (
					<PokemonCard
						url={pokemon.url}
						name={pokemon.name}
					/>
				))
			}
		</div>
	</section>
</MainLayout>
